<!DOCTYPE html>
<html>
<head>
  <title>Is Ruby Fast Yet?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="body-wrapper">
    <%= yield %>
  </div>

</body>
</html>
