<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<!-- launchd plist file to run the benchmark at 2:22am each morning -->
<!-- copy to ~/Library/LaunchAgents/ and change the paths appropriately -->
<!-- then install with launchctl load ~/Library/LaunchAgents/com.isrubyfastyet.nightly.plist -->
<!-- I also went in System Prefs and set my computer to shutdown/startup just after 2am so we have a fresh system -->

<dict>
    <key>Label</key>
    <string>com.isrubyfastyet.nightly</string>
    <key>ProgramArguments</key>
    <array>
        <string>your_path_to/isrubyfastyet/nightly</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>22</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>your_path_to/isrubyfastyet/nightly.log</string>
    <key>StandardErrorPath</key>
    <string>your_path_to/isrubyfastyet/nightly.log</string>
</dict>
</plist>