/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import url(http://fonts.googleapis.com/css?family=Peralta|Source+Sans+Pro:300);

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 830px;
  background: #a00;
  font-family: 'Source Sans Pro', sans-serif;
}

.body-wrapper {
  padding: 1em 30px;
  margin: 0;
  background: #fee;
}

h1 {
  margin-top: 0;
  font-family: 'Peralta', sans-serif;
  font-size: 64px;
  text-shadow: #ff8890 2px 2px 1px;
}

h2 {
  text-shadow: rgba(255, 160, 163, 0.5) 1px 1px 2px;
}