/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 830px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #4D000C;

  background-image: linear-gradient(bottom, rgb(77,0,12) 0%, rgb(255,194,206) 100%);
  background-image: -o-linear-gradient(bottom, rgb(77,0,12) 0%, rgb(255,194,206) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(77,0,12) 0%, rgb(255,194,206) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(77,0,12) 0%, rgb(255,194,206) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(77,0,12) 0%, rgb(255,194,206) 100%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(77,0,12)),
    color-stop(1, rgb(255,194,206))
  );
}

.body-wrapper {
  padding: 1em 30px 2em;
  margin: 0;
  background: #FFF5F7;
}

h1 {
  margin: 0;
  font-family: 'Peralta', sans-serif;
  font-size: 64px;
  text-shadow: #FF9CAB 2px 2px 1px;
}

h2 {
  text-shadow: rgba(255, 156, 171, 0.5) 1px 1px 2px;
}

h3 {
  font-family: 'Peralta', sans-serif;
  text-shadow: #FF9CAB 2px 2px 1px;
  font-size: 24px;
  margin: 0;
}

section {
  margin-bottom: 2em;
}

section p,
#updates ol {
  margin-top: 5px;
  font-size: 14px;
}

#updates ol {
  list-style: none;
  padding: 0;
}

#updates .date {
  opacity: 0.5;
}
