<!DOCTYPE html>
<html>
<head>
  <title>Is Ruby Fast Yet?</title>
  <link href='http://fonts.googleapis.com/css?family=Peralta|Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="body-wrapper">
    <%= yield %>
  </div>

</body>
</html>
